/* General Style Goes Here */

* {
  margin: 0;
  padding: 0;
  outline: 0;
}
html {
  font-size: 62.5%; /* font size 10px */
}
body {
  font-size: 1rem;
  /* background-color: blue; */
}
hr {
  margin: 5px 0;
}

h1 {
  color: #444444;
  font-size: 2rem;
}
button {
  display: inline;
  margin: 0 5px;
}
